/* CSS style sheet for spark app */


h1{
	font-size: 20px;
	color: red;

}

input[type=text]{
	position: relative;
	border: 1px solid
	font-size: 25px;
}

.tickerBox{
	width: 300px;
	height: 10px;
	padding: 2px;
	border-radius: 25px;
}