<tr>
  <td>
    <strong>$ticker.symbol</strong>
  </td>
  <td width="100px">
    &dollar;$helper.formatDoubleString($ticker.ask)
  </td>
  <td width="80px">
    <span $helper.textClass($ticker.change)>
      $helper.arrow($ticker.change)
      $helper.formatDoubleString($ticker.change)
    </span>
  </td>
  <td width="30px">
    <a ic-target="#main" ic-delete-from="/$ticker.symbol">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
  </td>
</tr>
